{% block stylesheets %}
	{{ encore_entry_link_tags('bestiary') }}
{% endblock %}

<div class="table-responsive">
	<table class="table align-middle text-light">
		<thead>
			<tr>
				<th class="text-center">Image</th>
				<th class="text-center">Nom</th>
				<th class="text-center">Description</th>
				<th class="text-center">Lieu</th>
			</tr>
		</thead>
		<tbody class="text-light">
			{% for bestiary in category.bestiaries %}
				<tr>
					<td class="TdImage"><img class="w-100 bestiary-image" src="{{ vich_uploader_asset(bestiary) }}" alt="img"></td>
					<td class="TdName text-center">{{ bestiary.name }}</td>
					<td class="TdDescription text-center text-truncate">{{ bestiary.description }}</td>
					<td class="TdPlace text-center">{{ bestiary.place.name }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
